<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<div style="text-align: center; font-size: 20px; padding-top: 60px; background-color: white;">
	<h1 style="margin:30px;">Edit Details</h1>


	<%= form_for @company do |c| %>

		</br>
		<p style="color: green;">The name of your startup.</p>

		<%= c.label :name %></br>
		<%= c.text_field :name, :required => true, :style => 'width:350px;'%>
		<br></br><br></br>

		<p style="color: green;">Describe your startup in one sentence.</p>

		<%= c.label :description %></br>
		<%= c.text_area :description, :required => true, :style => 'width:350px;'%>
		<br></br><br></br>


		<p style="color: green;">Your startup's website. It must start with http:// or https://</p>

		<%= c.label :url %></br>
		<%= c.text_field :url, :required => true, :style => 'width:350px;'%>
		<br></br><br></br>

		<p style="color: green;">Your company's location.</p>

		<%= c.label :location %></br>
		<%= c.text_field :location, :required => true, :style => 'width:350px;'%>
		<br></br><br></br>

		<p style="color: green;">Your StackShare profile link. It must start with https://<br>If you don't have one, just write your basic stack (eg. 'Rails, React, Heroku')</p>

		<p>StackShare profile</p>
		<%= c.text_field :stackshareprofile, :required => true%>
		<br></br><br></br>

		<p style="color: green;">Your startup's logo.</p>

		<%= c.label :image %></br>
		<% if @company.image.url != '/images/original/missing.png' %>
			Current Image:<br> <%= image_tag @company.image.url, :style =>"max-height:200px;" %><br>
			</br><br>
			Change Image:<br><br>
		<% end %>
		
		<%= c.file_field :image %>
		<br></br><br>

		<%= c.submit %>

		<br><br>
		
	<% end %>
</div>
