
<div style="text-align: center; font-size: 20px; padding-top: 0px; background-color: white; height:1000px;">

	<hr>
	<p style="margin:20px; font-size: 32px;"><%= @company.name %><img src="https://i.imgur.com/irGlZrd.png" style="height:32px; margin-bottom: 1px;" /></p>
	
	<a><img class="card-img-top" src="<%= @company.image.url %>" style="max-height: 100px; width: auto; height: auto; margin-bottom: 10px;"></a>

	<p style="font-size: 14px;" class="card-text"><%= @company.description %></p>

	<hr>
	<a style="font-size: 12px; color:black;"><%= @company.location %></a><br>

	<a target="_blank" href="<%= @company.url %>" style="font-size: 11px; color:grey;"><%= @company.url %></a><br>

	<hr>
	<p style="margin:20px; font-size: 22px;"><%= @company.name %>'s lists.</p>

	<% @lists.each do |l| %>
		<a style="color:grey" href="l.file.url"><%= l.position %> (<%= l.location %>) - <%= l.date %></a>


	<% end %>


</div>